.filter-btn{
    width: 20px;
    height: 20px;
    background-color: red;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);

    border-radius: 3px;
   
    background-color: #fafafa;
    cursor: pointer;
    margin-bottom: 56px;
   
	

}
.cont{
    margin-left: 94px;
}
.cont input:checked ~ .filter-btn{
    background-color: red;
    
}

.label{
    margin-left: 10px;
    margin-right: 24px;
    margin-bottom: 2em;
}
.filter-title{
    margin-left:98px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    color:#192024
    
}